### The purpose of a line plot is to illustrate a continuous realtionship between two variables

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
! curl -o ../data/car_parking.zip https://archive.ics.uci.edu/ml/machine-learning-databases/00482/dataset.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100  211k    0  211k    0     0  75298      0 --:--:--  0:00:02 --:--:-- 75325
100  234k    0  234k    0     0  83304      0 --:--:--  0:00:02 --:--:-- 83346

In [3]:
parking = pd.read_csv('../data/car_parking/dataset.csv', parse_dates=['LastUpdated'])
parking.head()

  SystemCodeNumber  Capacity  Occupancy         LastUpdated
0      BHMBCCMKT01       577         61 2016-10-04 07:59:42
1      BHMBCCMKT01       577         64 2016-10-04 08:25:42
2      BHMBCCMKT01       577         80 2016-10-04 08:59:42
3      BHMBCCMKT01       577        107 2016-10-04 09:32:46
4      BHMBCCMKT01       577        150 2016-10-04 09:59:48

In [4]:
parking.rename(columns={'SystemCodeNumber': 'Location', 'LastUpdated': 'Timestamp'}, inplace=True)

In [5]:
parking['Day'] = parking.Timestamp.dt.day
parking['Month'] = parking.Timestamp.dt.month
parking['Hour'] = parking.Timestamp.dt.hour

In [6]:
parking = parking.query("Location in ['Broad Street', 'NIA South']")

In [7]:
parking.head()

           Location  Capacity  Occupancy           Timestamp  Day  Month  Hour
20171  Broad Street       690        178 2016-10-04 07:59:42    4     10     7
20172  Broad Street       690        269 2016-10-04 08:25:42    4     10     8
20173  Broad Street       690        415 2016-10-04 08:59:42    4     10     8
20174  Broad Street       690        530 2016-10-04 09:32:46    4     10     9
20175  Broad Street       690        600 2016-10-04 09:59:48    4     10     9

In [9]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Day', y='Occupancy')

plt.show()

<img src='./plots/line-plot-1.png'>

### Its mean aggregation | is there any more stats available ?  yes !

#### mean

In [35]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', estimator='mean')

plt.show()

<img src='./plots/line-plot-2.png'>

#### median

In [37]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', estimator='median')

plt.show()

<img src='./plots/line-plot-2.1.png'>

#### std

In [39]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', estimator='std')

plt.show()

<img src='./plots/line-plot-2.2.png'>

* estimator name of pandas method or callable or None
    * Method for aggregating across multiple observations of the y variable at the same x level. If None, all observations will be drawn.



* errorbar : string, (string, number) tuple, or callable
    * Name of errorbar method (either “ci”, “pi”, “se”, or “sd”), or a tuple with a method name and a level parameter, or a function that maps from a vector to a (min, max) interval.

### bootstrapping for confidence interval

In [13]:
with plt.style.context('ggplot'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', n_boot=500)

plt.show()

<img src='./plots/line-plot-3.png'>

### confidence interval | errorbar=('ci', val)

#### you can set None to turn it off

In [16]:
# confidence interval

with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', n_boot=1000, errorbar=('ci', 95))

plt.show()

<img src='./plots/line-plot-4.png'>

### hue

In [18]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', hue='Location')

plt.show()

<img src='./plots/line-plot-5.png'>

### style

In [20]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', style='Location')

plt.show()

<img src='./plots/line-plot-6.png'>

In [22]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', style='Location', hue='Location')

plt.show()

<img src='./plots/line-plot-7.png'>

### size

In [24]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', size='Location', hue='Location')

plt.show()

<img src='./plots/line-plot-8.png'>

In [26]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(
        data=parking, x='Hour', y='Occupancy', hue='Location',
        size='Month', errorbar=None)

plt.show()

<img src='./plots/line-plot-9.png'>

### styling

In [28]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(data=parking, x='Hour', y='Occupancy', lw=4, color='gray')

plt.show()

<img src='./plots/line-plot-10.png'>

In [30]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(
        data=parking, x='Hour', y='Occupancy', 
        size='Month', hue='Location', style='Month',
        alpha=0.5
    )

plt.show()

<img src='./plots/line-plot-11.png'>

### `errorbar = None`

In [33]:
with plt.style.context('fivethirtyeight'):
    sns.lineplot(
        data=parking, x='Hour', y='Occupancy', 
        size='Month', hue='Location', style='Month',
        alpha=0.5, errorbar=None
    )


plt.show()

<img src='./plots/line-plot-12.png'>