In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cars = sns.load_dataset('mpg').dropna()
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [3]:
cars.cylinders.value_counts()

cylinders
4    199
8    103
6     83
3      4
5      3
Name: count, dtype: int64

In [4]:
cars = cars.query('cylinders in (4,6,8)')

In [5]:
cars.cylinders.value_counts()

cylinders
4    199
8    103
6     83
Name: count, dtype: int64

In [6]:
cars.mpg.describe()

count    385.000000
mean      23.445455
std        7.836911
min        9.000000
25%       17.000000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

In [8]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, x='mpg');
plt.show()

<img src='./plots/box-plot-1.png'>

In [11]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, x='mpg', y='origin');
plt.show();

<img src='./plots/box-plot-2.png'>

### hue

In [13]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, x='mpg', y='origin', hue='cylinders');
plt.show();

<img src='./plots/box-plot-3.png'>

In [15]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders');
plt.show();

<img src='./plots/box-plot-4.png'>

### Year of make

In [22]:
cars.model_year.value_counts().sort_index()

70    29
71    27
72    27
73    39
74    26
75    30
76    34
77    27
78    35
79    28
80    25
81    28
82    30
Name: model_year, dtype: int64

In [17]:
cars['new_models'] = cars.model_year > 76


with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='new_models');
plt.show();

<img src='./plots/box-plot-5.png'>

## Styling

### change the order

In [20]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, x='mpg', y='origin', hue='cylinders', order=['japan', 'europe', 'usa']);
plt.show();

<img src='./plots/box-plot-6.png'>

### change the order of the hue

In [22]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders', hue_order=[8,6,4]);
plt.show();

<img src='./plots/box-plot-7.png'>

### color

In [25]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', color='seagreen');
plt.show();

<img src='./plots/box-plot-8.png'>

In [27]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders', color='seagreen');
plt.show();

<img src='./plots/box-plot-9.png'>

### width

In [30]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders', width=0.5);
plt.show();

<img src='./plots/box-plot-9.png'>

## linewidth

In [33]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders', linewidth=2.5);
plt.show();

<img src='./plots/box-plot-11.png'>

### whis

In [35]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders', whis=2.5);
plt.show();

<img src='./plots/box-plot-12.png'>

In [37]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders', whis=3.5);
plt.show();

<img src='./plots/box-plot-13.png'>

In [38]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders', whis=1);
plt.show();

<img src='./plots/box-plot-14.png'>

### fliersize

In [40]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders', fliersize=10);
plt.show();

<img src='./plots/box-plot-15.png'>

### showcaps

In [42]:
with plt.style.context('ggplot'):
    sns.boxplot(data=cars, y='mpg', x='origin', hue='cylinders', showcaps=False);
plt.show();

<img src='./plots/box-plot-16.png'>