In [43]:
import seaborn as sns
import matplotlib.pyplot as plt

In [44]:
cars = sns.load_dataset('mpg').dropna()

In [45]:
cars.groupby('origin').cylinders.value_counts()

origin  cylinders
europe  4             61
        6              4
        5              3
japan   4             69
        6              6
        3              4
usa     8            103
        6             73
        4             69
Name: count, dtype: int64

In [46]:
cars.groupby('origin').cylinders.value_counts().unstack(level=1)

cylinders    3     4    5     6      8
origin
europe     NaN  61.0  3.0   4.0    NaN
japan      4.0  69.0  NaN   6.0    NaN
usa        NaN  69.0  NaN  73.0  103.0

In [47]:
cars.groupby('origin').cylinders.value_counts().unstack(level=1).fillna(0)

cylinders    3     4    5     6      8
origin
europe     0.0  61.0  3.0   4.0    0.0
japan      4.0  69.0  0.0   6.0    0.0
usa        0.0  69.0  0.0  73.0  103.0

In [ ]:
data = cars.groupby('origin').cylinders.value_counts().unstack(level=1).fillna(0)

sns.heatmap(data=data)

<img src='./plots/heatmap-1.png'>

### correlation

In [ ]:
sns.heatmap(cars.select_dtypes(include=int).corr());

<img src='./plots/heatmap-2.png'>

In [ ]:
sns.heatmap(cars.select_dtypes(include=float).corr());

<img src='./plots/heatmap-3.png'>

In [ ]:
sns.heatmap(cars.select_dtypes(include=[float, int]).corr());

<img src='./plots/heatmap-4.png'>

### color | sequential palette

In [ ]:
sns.heatmap(cars.select_dtypes(include=int).corr(),  cmap='Blues');

<img src='./plots/heatmap-5.png'>

In [ ]:
sns.heatmap(cars.select_dtypes(include=float).corr(),  cmap='Blues')

<img src='./plots/heatmap-6.png'>

### color | DIVERGING Palette
#### This is more appropriate when you want to highlight both small values and large values

In [ ]:
sns.heatmap(cars.select_dtypes(include=int).corr(),  cmap='RdBu')

<img src='./plots/heatmap-7.png'>

In [ ]:
sns.heatmap(cars.select_dtypes(include=float).corr(),  cmap='RdBu')

<img src='./plots/heatmap-8.png'>

### Controling the colorbar | center, vmax, vmin

In [ ]:
sns.heatmap(cars.select_dtypes(include=int).corr(),  cmap='RdBu', center=0)

<img src='./plots/heatmap-9.png'>

In [ ]:
sns.heatmap(cars.select_dtypes(include=float).corr(),  cmap='RdBu', center=0)

<img src='./plots/heatmap-10.png'>

In [49]:
sns.heatmap(
    cars.select_dtypes(include=int).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1)

<img src='./plots/heatmap-11.png'>

In [51]:
sns.heatmap(
    cars.select_dtypes(include=float).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1)

<img src='./plots/heatmap-12.png'>

In [53]:
sns.heatmap(
    cars.select_dtypes(include=[float, int]).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1)

<img src='./plots/heatmap-13.png'>

## Annotate

In [55]:
sns.heatmap(
    cars.select_dtypes(include=float).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1, annot=True)

<img src='./plots/heatmap-14.png'>

In [57]:
sns.heatmap(
    cars.select_dtypes(include=[int, float]).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1, annot=True)

<img src='./plots/heatmap-15.png'>

### annot format | fmt

`.0f` means no decimal places

In [59]:
sns.heatmap(
    cars.select_dtypes(include=float).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1, annot=True, fmt='.0f'
)

<img src='./plots/heatmap-16.png'>

`.1f` means one decimal places

In [61]:
sns.heatmap(
    cars.select_dtypes(include=float).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1, annot=True, fmt='.1f'
)

<img src='./plots/heatmap-17.png'>

### annot_kws

In [63]:
sns.heatmap(
    cars.select_dtypes(include=int).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1, annot=True, fmt='.1f', 
    annot_kws={'fontsize':16, 'fontweight':'bold', 'fontfamily':'serif'}
)

<img src='./plots/heatmap-18.png'>

### Advanced styles | linewidths

In [65]:
sns.heatmap(
    cars.select_dtypes(include=float).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1, annot=True, fmt='.1f', 
    linewidths=1
)

<img src='./plots/heatmap-19.png'>

In [67]:
sns.heatmap(
    cars.select_dtypes(include=float).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1, annot=True, fmt='.1f', 
    linewidths=1, linecolor='black'
)

<img src='./plots/heatmap-20.png'>

### advanced styles | tick labels

In [68]:
cars.select_dtypes(include=float).columns.to_list()

['mpg', 'displacement', 'horsepower', 'acceleration']

In [69]:
labels = cars.select_dtypes(include=float).columns.to_list()

labels = [ x.capitalize() for x in labels]
labels

['Mpg', 'Displacement', 'Horsepower', 'Acceleration']

In [71]:
sns.heatmap(
    cars.select_dtypes(include=float).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1, annot=True, fmt='.1f', 
    linewidths=1, linecolor='black',
    xticklabels=labels, yticklabels=labels
)

<img src='./plots/heatmap-21.png'>

### perfect squares

In [73]:
sns.heatmap(
    cars.select_dtypes(include=float).corr(),  cmap='RdBu', 
    center=0, vmin=-1, vmax=+1, annot=True, fmt='.1f', 
    linewidths=1, linecolor='black', 
    square=True
)

<img src='./plots/heatmap-22.png'>