## Violin plot is a categorical distribution plot

## Bimodal dist

The “bi” in bimodal distribution refers to “two” and modal refers to the peaks


A dist with two peaks

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cars = sns.load_dataset('mpg').dropna()
cars = cars.query('cylinders in [8,6,4]')

cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
with plt.style.context('ggplot'):
    sns.violinplot(data=cars, x='horsepower');

plt.show();

<img src='./plots/violin-plot-1.png'>

In [6]:
with plt.style.context('fivethirtyeight'):
    sns.violinplot(data=cars, x='displacement');

plt.show();

<img src='./plots/violin-plot-2.png'>

## X axis - Y axis

In [8]:
with plt.style.context('fivethirtyeight'):
    sns.violinplot(data=cars,  x='cylinders', y='displacement');

plt.show();

<img src='./plots/violin-plot-3.png'>

### Hue for category

In [12]:
with plt.style.context('fivethirtyeight'):
    sns.violinplot(data=cars,  x='cylinders', y='displacement', hue='origin', linewidth=1.5);

plt.show();

<img src='./plots/violin-plot-4.png'>

In [14]:
with plt.style.context('ggplot'):
    sns.violinplot(data=cars,  x='cylinders', y='displacement', hue='origin')

plt.show()

<img src='./plots/violin-plot-5.png'>

#### Violing plot is symmetric
#### symmetric plot wont convey any additional info
#### lets break the symmetry and show more information

In [16]:
# lets use only data from japan and europe for now

with plt.style.context('fivethirtyeight'):
    sns.violinplot(
        data=cars.query('origin in ["japan","europe"]'),  hue='origin',
        x='cylinders', y='displacement')

plt.show()

<img src='./plots/violin-plot-6.png'>

#### To break the symmetry we can put both japan and europe in the same violin

In [18]:
# lets use only data from japan and europe for now

with plt.style.context('fivethirtyeight'):
    sns.violinplot(
        data=cars.query('origin in ["japan","europe"]'),  hue='origin',
        x='cylinders', y='displacement' , split=True
    )
plt.show()

<img src='./plots/violin-plot-7.png'>

### To use the `split` we must only have two cats for the hue

In [22]:
# lets use only data from japan and europe for now

with plt.style.context('ggplot'):
    sns.violinplot(
        data=cars.query('origin in ["japan","europe"]'),  hue='origin',
        x='cylinders', y='displacement' , split=True
    )
plt.show()

<img src='./plots/violin-plot-8.png'>

### instead of a box , we can change the inner of the violin
### we can set `inner=quartile` and understand more about the data

In [28]:
# lets use only data from japan and europe for now

with plt.style.context('fivethirtyeight'):
    sns.violinplot(
        data=cars.query('origin in ["japan","europe"]'),  hue='origin', linewidth=1.5,
        x='cylinders', y='displacement' , split=True, inner='quartile'
    )
plt.show()

<img src='./plots/violin-plot-9.png'>

In [30]:
# lets use only data from japan and europe for now

with plt.style.context('ggplot'):
    sns.violinplot(
        data=cars.query('origin in ["japan","europe"]'),  hue='origin',
        x='cylinders', y='displacement' , split=True, inner='quartile'
    )
plt.show()

<img src='./plots/violin-plot-10.png'>

#### `scale`
#### the area of blue and red in the violin plot are equal , we can change that , we can scale these by `count`. This will give us idea about how many obs we have for each portion


* there are few european 6 cylinders than japs
* width is scaled by num-obs

In [34]:
cars.groupby(by=['origin','cylinders'])['name'].count()

origin  cylinders
europe  4             61
        6              4
japan   4             69
        6              6
usa     4             69
        6             73
        8            103
Name: name, dtype: int64

In [37]:
# lets use only data from japan and europe for now

with plt.style.context('fivethirtyeight'):
    sns.violinplot(
        data=cars.query('origin in ["japan","europe"]'),  hue='origin', linewidth=1.5,
        x='cylinders', y='displacement' , split=True, inner='quartile', scale='count'
    )
plt.show()

<img src='./plots/violin-plot-11.png'>

#### hue is set to cylinders
#### violin plot split the data first then scale by count
### if you want to turn that off

* there a lot more cars with 4 cylinders than 6 cylinders

In [39]:
# lets use only data from japan and europe for now

with plt.style.context('ggplot'):
    sns.violinplot(
        data=cars.query('origin in ["japan","europe"]'),  hue='origin',
        x='cylinders', y='displacement' , 
        split=True, inner='box', scale='count', scale_hue=False
    )
plt.show()

<img src='./plots/violin-plot-12.png'>

In [29]:
cars.cylinders.value_counts()

4    199
8    103
6     83
Name: cylinders, dtype: int64

In [34]:
cars[['origin', 'cylinders']].groupby(['origin', 'cylinders']).value_counts()

origin  cylinders
europe  4             61
        6              4
japan   4             69
        6              6
usa     4             69
        6             73
        8            103
dtype: int64

### style | hue_order | order

In [40]:

with plt.style.context('ggplot'):
    sns.violinplot(
        data=cars, 
        x='cylinders', y='displacement' ,  hue='origin',
        hue_order=['europe', 'japan', 'usa'], order= [ 8, 6, 4]
    )
plt.show()

<img src='./plots/violin-plot-13.png'>

### `linewidth`

In [41]:

with plt.style.context('ggplot'):
    sns.violinplot(
        data=cars, 
        x='cylinders', y='displacement' , linewidth=5,
        
    )
plt.show()

<img src='./plots/violin-plot-14.png'>

### `bandwidth of kde`

In [43]:

with plt.style.context('ggplot'):
    sns.violinplot(
        data=cars, 
        x='cylinders', y='displacement' ,  hue='origin',
        bw=0.8
    )
plt.show()

<img src='./plots/violin-plot-15.png'>

In [45]:

with plt.style.context('ggplot'):
    sns.violinplot(
        data=cars, 
        x='cylinders', y='displacement' ,  hue='origin',
        bw=0.2
    )
plt.show()

<img src='./plots/violin-plot-16.png'>