In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
car = sns.load_dataset('mpg').dropna()
car = car.query(f"cylinders in [4,6,8]")
car['type'] = np.where(car['model_year'].values<=76, 'old', 'new')

car.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,type
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,old
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,old
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,old
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,old
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,old

In [3]:
with plt.style.context("fivethirtyeight"):
    sns.catplot(data=car, x='horsepower')

<img src='./plots/cat-plot-1.png'>

### CATPLOT 
With CATPLOT we'll get access to all seaborn categorical plot
* boxplot
* violinplot
* boxenplot
* stripplot
* barplot
* countplot
* pointplot
* swarmplot

In [11]:
with plt.style.context("fivethirtyeight"):
    sns.catplot(data=car, x='horsepower', kind='box');
plt.show();

<img src='./plots/cat-plot-2.png'>

In [15]:
with plt.style.context("fivethirtyeight"):
    sns.catplot(data=car, x='horsepower', kind='violin');
plt.show();

<img src='./plots/cat-plot-3.png'>

In [18]:
with plt.style.context("fivethirtyeight"):
    sns.catplot(data=car, x='horsepower', y='origin', kind='box');
plt.show();

<img src='./plots/cat-plot-4.png'>

### `hue`

In [20]:
with plt.style.context("fivethirtyeight"):
    sns.catplot(data=car, x='horsepower', y='origin', hue='cylinders', kind='box');
plt.show();

<img src='./plots/cat-plot-5.png'>

### `col`

In [22]:
with plt.style.context("fivethirtyeight"):
    sns.catplot(data=car, y='horsepower', x='cylinders', kind='strip', col='origin');
plt.show();

<img src='./plots/cat-plot-6.png'>

### `row`

In [27]:
with plt.style.context("fivethirtyeight"):
    sns.catplot(data=car, y='horsepower', x='cylinders', kind='strip', col='origin', row='type');
plt.show();

<img src='./plots/cat-plot-7.png'>

### `order` , `col_order`, `row_order` , `hue_order`

In [29]:
with plt.style.context("fivethirtyeight"):
    sns.catplot(
        data=car, y='horsepower', x='cylinders', 
        kind='strip', col='origin', row='type',
        order=[8,6,4],
        col_order=['europe', 'japan', 'usa'],
        row_order=['new', 'old']
    );
plt.show();

<img src='./plots/cat-plot-8.png'>

### Styling
#### Additional keyword argument will be passed to the kind of the plot

In [31]:
with plt.style.context("fivethirtyeight"):
    # change box widht , linewidth , fliersize
    sns.catplot(data=car, x='cylinders', y='horsepower', kind='box', width=0.4, linewidth=1, fliersize=8);
plt.show();

<img src='./plots/cat-plot-9.png'>

In [33]:
with plt.style.context("fivethirtyeight"):

    grid = sns.catplot(data=car, x='cylinders', y='horsepower', kind='box', col='origin', width=0.4, linewidth=2);
    grid.set_titles(col_template='{col_name} cars');
plt.show();

<img src='./plots/cat-plot-10.png'>