### SWARM plot is considered a categorical scatter plot

#### SWARM plot give you a sense of the distribution of the data

#### We can overlay swarm plot over box plot or violin plot

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cars = sns.load_dataset('mpg').dropna()
cars = cars.query('cylinders in [4,6,8]')
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
# with plt.style.context('fivethirtyeight'):
#     sns.swarmplot(data=cars, x='horsepower')

# plt.show()

<img src='./plots/swarm-plot-1.png'>

### X axis and Y axis

In [6]:
with plt.style.context('ggplot'):
    sns.swarmplot(data=cars, x='origin', y='horsepower')

plt.show()

<img src='./plots/swarm-plot-2.png'>

### what about the box plot ?

In [9]:
with plt.style.context('fivethirtyeight'):
    sns.boxplot(data=cars, y='horsepower', x='origin')

plt.show()

<img src='./plots/swarm-plot--3.png'>

### add category with hue

In [11]:
with plt.style.context('fivethirtyeight'):
    sns.swarmplot(data=cars, y='horsepower', x='origin', hue='cylinders', palette='winter')

plt.show()

<img src='./plots/swarm-plot-4.png'>

### Split the groups using `dodge`

In [13]:
with plt.style.context('fivethirtyeight'):
    sns.swarmplot(data=cars, y='horsepower', x='origin', hue='cylinders', dodge=True, palette='winter')

plt.show()

<img src='./plots/swarm-plot-5.png'>

### OVERLAY - BOX - VIOLIN - SWARM PLOT

#### USA cars | box plot | swarm plot

In [14]:
usa = cars.query("origin in ['usa']")


with plt.style.context('fivethirtyeight'):
    sns.boxplot(data=usa, y='horsepower', x='cylinders')
    sns.swarmplot(data=usa, y='horsepower', x='cylinders', color='k', alpha=0.5)

plt.show()

<img src='./plots/swarm-plot-6.png'>

Extend the whiskers to include all data

In [15]:
usa = cars.query("origin in ['usa']")


with plt.style.context('fivethirtyeight'):
    sns.boxplot(data=usa, y='horsepower', x='cylinders', whis=np.inf)
    sns.swarmplot(data=usa, y='horsepower', x='cylinders', color='k', alpha=0.5)

plt.show()

<img src='./plots/swarm-plot-7.png'>

### USA cars | violin plot | swarm plot

In [17]:
usa = cars.query("origin in ['usa']")


with plt.style.context('fivethirtyeight'):
    sns.violinplot(data=usa, y='horsepower', x='cylinders', inner='quartile', scale='width', linewidth=1.5)
    sns.swarmplot(data=usa, y='horsepower', x='cylinders', color='white', alpha=0.8, size=4)

plt.show()

<img src='./plots/swarm-plot-8.png'>

In [18]:
# usa = cars.query("origin in ['usa']")

# # CHANGE THE ORDER FOR BETTER VIEW

# with plt.style.context('ggplot'):

#     sns.swarmplot(data=usa, y='horsepower', x='cylinders', color='white', alpha=0.8, size=4)

#     sns.violinplot(data=usa, y='horsepower', x='cylinders', inner=None, scale='width')

# plt.show()

<img src='./plots/swarm-plot-9.png'>

### styling egde-color and linewidth

In [19]:




with plt.style.context('fivethirtyeight'):

    sns.swarmplot(data=cars, y='horsepower', linewidth=2)


plt.show()

<img src='./plots/swarm-plot-10.png'>

### by default edge-color is grey and you can switch that if you want

In [20]:



with plt.style.context('fivethirtyeight'):

    sns.swarmplot(data=cars, y='horsepower', linewidth=2, edgecolor='black')


plt.show()

<img src='./plots/swarm-plot-11.png'>

### change `marker`

In [21]:

with plt.style.context('fivethirtyeight'):

    sns.swarmplot(data=cars, y='horsepower', linewidth=2, edgecolor='black', marker='*')


plt.show()

<img src='./plots/swarm-plot-12.png'>

In [26]:
with plt.style.context('fivethirtyeight'):
    sns.swarmplot(
        data=cars, y='horsepower', x='origin', 
        hue='cylinders', dodge=True, legend=False,
        linewidth=1, edgecolor='black', color='white', alpha=0.5
    )
    sns.boxplot(data=cars, x='origin', y='horsepower', hue='cylinders', linewidth=1.5)

plt.show()

<img src='./plots/swarm-plot-13.png'>