### RELPLOT - Relational Plot
#### RelPlot is built on top of FacetGrid
#### With this we'll get access to both scatterplot and lineplot

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
titanic = sns.load_dataset('titanic').dropna()
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True

### Create age buckets

In [3]:
titanic['decade'] = titanic['age'] // 10 * 10
titanic['decade'].head()

1     30.0
3     30.0
6     50.0
10     0.0
11    50.0
Name: decade, dtype: float64

## Relplot

In [5]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(data=titanic, x='age', y='fare');
plt.show();

<img src='./plots/rel-plot-1.png'>

### `hue`

In [9]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='age', y='fare', hue='pclass',
    );
plt.show();

<img src='./plots/rel-plot-2.png'>

### `style`

In [18]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='age', y='fare', hue='pclass', style='pclass', 
        s=150, ec='black', alpha=0.8
    );
plt.show();

<img src='./plots/rel-plot-3.png'>

### `size` & `sizes`

In [20]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='age', y='fare', hue='pclass', style='pclass', size='pclass', sizes=[50,150,300]
    );
plt.show();

<img src='./plots/rel-plot-4.png'>

### `kind`

In [22]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='age', y='fare', kind='line', lw=1

        # aggregate passengers based on the age -- mean value agg
    );
plt.show();

<img src='./plots/rel-plot-5.png'>

In [29]:
titanic.age.value_counts()

36.0    11
24.0     9
19.0     6
35.0     6
31.0     5
        ..
71.0     1
3.0      1
1.0      1
36.5     1
26.0     1
Name: age, Length: 63, dtype: int64

#### Too much variance -- so instead of `age` use `age-buckets`

In [24]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='decade', y='fare', kind='line', lw=1

        
    );
plt.show();

<img src='./plots/rel-plot-6.png'>

### Add hue and style

In [26]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='decade', y='fare', kind='line',
        hue='pclass'
        
    );
plt.show();

<img src='./plots/rel-plot-7.png'>

In [28]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='decade', y='fare', kind='line',

        hue='pclass', style='pclass'
        
    );
plt.show();

<img src='./plots/rel-plot-8.png'>

### `col`

In [29]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='age', y='fare', col='pclass'
        # we can clearly see that : fare in pclass=1 has high variance 
    );
plt.show();

<img src='./plots/rel-plot-9.png'>

### `col` will be very helpful if there are different trends in different classes

In [31]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='decade', y='fare', 
        col='pclass', kind='line'
       
    );
plt.show();

<img src='./plots/rel-plot-10.png'>

### `row`

In [32]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='decade', y='fare', 
        row='pclass', kind='line'
       
    );
plt.show();

<img src='./plots/rel-plot-11.png'>

### `col_wrap`

In [33]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='decade', y='fare', 
        col='deck', kind='line'
       
    );
plt.show();

<img src='./plots/rel-plot-12.png'>

In [41]:
titanic.deck.value_counts()

C    51
B    43
D    31
E    30
A    12
F    11
G     4
Name: deck, dtype: int64

### deck has 7 category so we'll get 7 columns
### we can wrap the cols using `col_wrap`

In [34]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='decade', y='fare', 
        col='deck', kind='line', col_wrap=3
       
    );
plt.show();

<img src='./plots/rel-plot-13.png'>

### Styling

In [35]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='age', y='fare', 
        hue='survived', marker='^', s=160,
        col='pclass'
    );
plt.show();

<img src='./plots/rel-plot-14.png'>

In [38]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='age', y='fare', 
        hue='survived',  s=160,
        col='pclass',
        style='survived',
    );
plt.show();

<img src='./plots/rel-plot-15.png'>

In [39]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic, x='age', y='fare', 
        hue='survived',  s=160,
        col='pclass',
        style='survived', markers=['X','o']
    );
plt.show();

<img src='./plots/rel-plot-16.png'>

#### Survival rate for females are high

In [41]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic.query('age < 70'), 
        x='decade', y='survived', 
        hue='sex', 
        kind='line',

        # this will give us percentage of people survived from each age bucket
        
    );
plt.show();

<img src='./plots/rel-plot-17.png'>

### here kind = 'line' so any extra kws will go to lineplot

In [42]:
with plt.style.context('fivethirtyeight'):
    sns.relplot(
        data=titanic.query('age < 70'), x='decade', y='survived', kind='line',
        hue='sex', errorbar=None 
    );
plt.show();

<img src='./plots/rel-plot-18.png'>

In [45]:
with plt.style.context('fivethirtyeight'):
    grid = sns.relplot(
        data=titanic.query('age < 70'), x='decade', y='survived', kind='line',
        hue='sex', errorbar=None 
    );

    grid.set_axis_labels(x_var='Age Groups', y_var="Percentage survived");
plt.show();

<img src='./plots/rel-plot-19.png'>

In [46]:
with plt.style.context('fivethirtyeight'):
    grid = sns.relplot(
        data=titanic.query('age < 70'), x='decade', y='survived', kind='line',
        hue='sex', errorbar=None , col='pclass'
    );

    grid.set_xlabels("Age Groups");
    grid.set_ylabels("Percentage survived");
plt.show();

<img src='./plots/rel-plot-20.png'>